<table class="table is-bordered is-striped">
    <thead>
    <tr>
        <th></th>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
    </tr>
    </thead>
    <tbody>
    {{#each timetable}}
        <tr>
            <th>{{period}}</th>
            {{#each lesson}}
                <td>{{subject}}<span class="teacher">({{teacher}})</span></td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>

<button id='export-excel' class="button is-link is-rounded">엑셀로 내보내기</button>
<button id='print' class="button is-link is-rounded">프린트</button>
