<table class="table is-bordered is-striped">
  <thead>
    <th></th>
    <th>월</th>
    <th>화</th>
    <th>수</th>
    <th>목</th>
    <th>금</th>
  </thead>
  <tbody>
    {{#each timetable}}
    <tr>
      <th>{{period}}</th>
      {{#each lesson}}
      <td>{{subject}}({{teacher}})</td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>

<button id='export-excel' class="button is-link is-rounded">엑셀로 내보내기</button>
<button id='print' class="button is-link is-rounded">프린트</button>
